<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695682541753-3j4bec4q7l1q33v8veokfdn4rsdlqd2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695682541753-3j4bec4q7l1q33v8veokfdn4rsdlqd2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDpITxYReRXkk3OGIDB8l1ig7VjTJvf83Q</string>
	<key>GCM_SENDER_ID</key>
	<string>695682541753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secretSealSauce</string>
	<key>PROJECT_ID</key>
	<string>secret-seal-sauce</string>
	<key>STORAGE_BUCKET</key>
	<string>secret-seal-sauce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695682541753:ios:f4226fb3b32dc5f3c75368</string>
	<key>DATABASE_URL</key>
	<string>https://secret-seal-sauce.firebaseio.com</string>
</dict>
</plist>